 /* Estilos para el contenedor principal */
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
    
  
    }
      .wrapper{
      display: flex;
      background-color: aqua;
    }
    .wrapper .static{
      position: relative;
      align-content: center;
      color:#fff;
      font-size: 40px;
      font-weight: 400;

    }
    .wrapper .dynamic{
      font-family: cursive;
        height: 20px;
        margin-left: 15px;
        line-height:50px;
        height: 50px;
        overflow: hidden;
        border: 2px solid blue;
    }
    .dynamic li{
      list-style: none;
      color: green;
      font-size: 40px;
      font-weight: 500;
      position:relative;
      top:0;
      animation: slide 12s steps(4) infinite;

    }
    @keyframes slide{
        100%{
            top:-200px;
        }
    }

    .dynamic li::after{
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      border-left: 2px solid green;
      animation: typing 3s steps(9) infinite;
      background-color: aqua;
    } 
    @keyframes typing{
      40%,
      60%{
          left:calc(100% + 30px);
      }
      100%{
        left: 0;
      }
    }